.history-container {
    width: 85%;
    position: relative;
    left: 15%;
}

.history-bttn {
    color: white;
    align-items: center;
    text-align: center;
    position: relative;
    display: inline-flex;
    width: 108px;
    height: 36px;
    border-radius: 6px;
    background-color: #878FA3;
}

.bttn-icon {
    position: absolute;
    left: 9px;
}

.bttn-text {
    margin: auto;
    font-size: 16px;
    font-weight: 300;
}

.history-header {
    margin-top: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
}

.history-header img {
    width: 88px;
    margin-left: 10px;
}

.header-text h3 {
    font-weight: 400;
}

.table-container {
    margin-top: 50px;
    width: 100%;
    overflow-x: scroll;
}

@media (max-width: 1424px) {
    .history-container {
        left: 17%;
    }
}

@media (max-width: 1274px) {
    .history-container {
        left: 20%;
    }
}

@media (max-width: 1024px) {
    .history-container {
        left: 0;
        width: 100%;
    }
}