.header-box-container {
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 116px;
    padding: 5px;
    border-radius: 11px;
    display: flex;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
}

.icon-container{

    margin: auto auto auto 20px;
    align-items: center;
}

.header-box-icon {
    background-color: #e5e5e5;
    display: flex;
    font-size: 30px;
    padding: 15px;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-details-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto auto auto 4px;

}

.header-label {
    font-size: 14px;
}

@media (max-width: 1224px) {
    .header-box-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 180px;
        align-items: center;
    }

    .icon-container {
        margin: auto;
        width: 150px;
        height: 80px;
        align-items: center;
        display: flex;
    }

    .header-box-icon {
        font-size: 30px;
        padding: 1px;
        width: 62px;
        height: 62px;
        margin: auto;
        align-items: center;
    }

    .header-details-container {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 704px) {
    .header-box-container {
        height: 135px;
        width: 110px;
    }

    .icon-container {
        width: 85px;
        height: 50%;
        margin-top: 10px;
    }

    .header-box-icon {
        font-size: 29px;
        width: 50px;
        height: 50px;
    }

    .header-details-container {
        height: 48%;
        margin-top: 1px;
    }

    .header-box-count {
        font-size: 14px;
    }

    .header-box-label {
        font-size: 11px;
    }
}