.confirmation-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding: 5px;
    text-align: center;
}

.header-title {
    margin: auto;
    border-bottom: 3px solid #EDEDED;
    padding-bottom: 8px;
    color: #434555;
    text-align: center;
    width: 70%;
    font-size: 32px;
}

.message {
    margin: 10px auto;
    padding: 10px 0 10px 0;
    color: #434555;
    width: 70%;
}

.sub-message {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 70%;
}

.order-id {
    margin: 20px auto;
    font-size: 20px;
    width: 70%;
}

.track-bttn {
    background-color: rgb(255, 255, 255);
    border: 2px solid #656464;
    display: flex;
    width: 288px;
    height: 52px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.track-icon {
    font-size: 30px;
    position: absolute;
    left: 20px;
}

.track-text {
    margin: auto auto auto 75px;
    font-size: 20px;
    color: #656464;
}

@media (max-width: 824px) {
    .confirmation-container {
        width: 90%;
    }
}


@media (max-width: 524px) {
    .confirmation-container {
        width: 95%;
    }
}